{% block header %}

    <footer class="bg-dark mt-5 pt-5">
        <div class="py-5 border-bottom border-gray-700">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">

                        <!-- Heading -->
                        <h4 class="mb-6 text-white">Book Store.</h4>
                    </div>
                    <div class="col-6 col-sm">

                        <!-- Heading -->
                        <h6 class="heading-xxs mb-4 text-white">
                            Store
                        </h6>

                        <!-- Links -->
                        <ul class="list-unstyled mb-7 mb-sm-0">
                            <li>
                                <a class="text-gray-300" href="./shop.html">Children</a>
                            </li>
                            <li>
                                <a class="text-gray-300" href="./shop.html">Fiction</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- Copyright -->
                        <p class="mb-3 mb-md-0 font-size-xxs text-muted">
                            © 2019 All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
